{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}



    <div class="float-right lead my-3">
        <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add bus</a>
      </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="tagvble table-striped table-bordered table-hover w-100" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th class="text-center">Transport Name</th>
             
                            <th class="text-center">Bus Name</th>
                    
                            <th class="text-center">Add seats</th>
                      
                            <th class="text-center">Add Price </th>
                    
                            <th class="text-center">Add Category</th>
                           
                            <th class="text-center">Date and Time</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for o in object_list %}
                        <tr>
                            <td class="text-center">{{ o.transport_name }}</td>
                            <td class="text-center">{{ o.number_plate }}</td>
                            <td class="text-center">{{ o.seats_available }}</td>
                            <td class="text-center">{{ o.price_per_person}}</td>
                            <td class="text-center">{{ o.bus_category }}</td>
                            <td class="text-center">{{ o.date_time_dpt }}</td>
                            
                           
                           
                            <td class="row-actions text-center">
                                {% include "customadmin/partials/list_row_addbus_actions.html" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>  

{% endblock %}



{% comment %} {% block js %} {% endcomment %}
{{ block.super }}
{% comment %} <script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    var pagination_url = "{% url opts|admin_urlname:'user-list-ajax' %}";
    $(function () {
        userroles.user.index();
    });
</script>
{% endblock %} {% endcomment %}



 <div class="ibox-title">
    <div class="ibox-tools">
        {% if perms.users.add_user %}
        <a href="{% url opts|admin_urlname:'create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Add {{ opts.verbose_name|capfirst }}</a> 
        {% endif %}
    </div>
</div> 