{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}
    {{post.count}}
    <div class="float-right lead my-3">
        <a href="" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New Profile</a>
      </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Profile Picture</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        {% for o in profile %}
                        <tr>
                            <td>{{ o.user }}</td>
                            <td>{{ o.user.first_name }}</td>
                            <td>{{ o.user.last_name }}</td>
                            {% if o.picture.url|length > 0 %}
                            <td height="80px" width="180px"><a href="/customadmin/posts/{{o.id}}/detail">
                                <img src="{{o.picture.url}}" width="180px" height="80x" alt="">
                            </a></td>
                            {% else %}
                            <td>No image</td>
                            {% endif %}
                            <td>{% show_check o.user.is_active %}</td>
                                
                            <td class="row-actions">
                                {% include "customadmin/partials/list_row_more_actions.html" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        
                </table>
            </div>
        </div>
    </div> 
{% endblock page_content %} 