asgiref 
cachetools 
certifi 
chardet 
Django
django-crispy-forms
django-datatables-too
django-environ
django-extra-views
django-filter
django-multi-form-view
django-widget-tweaks
djangorestframework
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
numpy
oauthlib
packaging
Pillow
protobuf
psycopg2
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
sqlparse
stripe
uritemplate
urllib3
