{% extends 'customadmin/change_list.html' %}
{% load static %}
{% load admin_extras %}
{% load misc_filters %}
{% load i18n %}


{% block page_content %}
    {% csrf_token %}

    <div class="ibox float-e-margins">
        
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <thead>
                        <tr>
                            <td colspan="2" class="h5 text-left border-white">{{post_detail.username|capfirst}}</td>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td class="h5 text-left" colspan="2">Post Detail</td>
                        </tr>
                            <tr class="text-left">
                                <td class="text-center" height="240px" width="480px">
                                    <img src="{{MEDIA_URL}}{{post_detail.post_image.url}}" alt="" height="240px" width="480px">
                                </td>
                                <td class="h6">
                                    POST TITLE : {{post_detail.title}}
                                    <hr>
                                    Category : {{post_detail.category}}
                                    <hr>
                                    Content : {{post_detail.content}}
                                    <hr>
                                    Uploaded  BY : {{post_detail.user}}
                                    <hr>
                                    Uploaded ON : {{post_detail.published_date}}
                                    <hr>
                                    SOFT_DELETE : {% show_check post_detail.soft_delete %}
                                </td>
                            </tr>
                           
                    </tbody>
                </table>
                <table class="table table-striped table-bordered table-hover" id="{{ opts.model_name }}-table">
                    <h3>Comments on This Post</h3>
                    
                        <thead>
                            <tr>
                                
                                <th>User</th>
                                <th>Comment</th>
                                <th>upload_on</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                               
                                <th>User</th>
                                <th>Comment</th>
                                <th>upload_on</th>
                            </tr>
                        </tfoot>
                        {% for o in post_detail.comment_set.all %}
                            <tr class="text-left">
                                <td>{{o.comment}}</td>
                                <td>{{o.user}}</td>
                                <td>{{o.upload_on}}</td>
                            </tr>
                        {% endfor %}
                           
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

